<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.ourteam.app.ViewCategory"
            class="com.ourteam.plugin.modelbase.ModelBaseExplorer"
            id="com.ourteam.plugin.modelbase.ModelBaseExplorer"
            name="模型库浏览"
            restorable="true">
      </view>
      <category
            id="com.ourteam.app.ViewCategory"
            name="开发助手">
      </category>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.ui.eclipse.editorpart.EditorPartAgent"
            default="false"
            id="net.ui.eclipse.editorpart.EditorPartAgent"
            name="编辑器代理">
      </editor>
      <editor
            class="net.ui.eclipse.editorpart.MultiPageEditorPartAgent"
            default="false"
            id="net.ui.eclipse.editorpart.MultiPageEditorPartAgent"
            name="多页面编辑器代理">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="com.ourteam.plugin.WorkbenchPropertyPage"
            id="com.ourteam.plugin.WorkbenchPropertyPage"
            name="开发助手设置"
            objectClass="org.eclipse.jdt.core.IJavaProject">
      </page>
      <page
            category="com.ourteam.plugin.WorkbenchPropertyPage"
            class="com.ourteam.plugin.CodeTemplateConfigPage"
            id="com.ourteam.plugin.CodeTemplateConfigPage"
            name="代码模板配置"
            objectClass="org.eclipse.jdt.core.IJavaProject">
      </page>
      <page
            category="com.ourteam.plugin.WorkbenchPropertyPage"
            class="com.ourteam.plugin.CodeGenerateConfigPage"
            id="com.ourteam.plugin.CodeGenerateConfigPage"
            name="代码生成配置"
            objectClass="org.eclipse.jdt.core.IJavaProject">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.ourteam.plugin.CodeGenerateContribution"
            objectClass="org.eclipse.jdt.core.IPackageFragmentRoot">
         <menu
               id="CodeGenerateMenu"
               label="代码生成"
               path="additions">
            <groupMarker
                  name="CodeGenerateGroupMarker">
            </groupMarker>
         </menu>
         <action
               class="com.ourteam.plugin.popup.actions.CodeGenerateAction"
               enablesFor="+"
               id="com.ourteam.plugin.popup.actions.CodeGenerateAction"
               label="生成代码"
               menubarPath="CodeGenerateMenu/CodeGenerateGroupMarker">
            <selection
                  class="org.eclipse.jdt.core.IPackageFragmentRoot">
            </selection>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ourteam.plugin.preferences.DevelopAssistantPreferencePage"
            id="com.ourteam.plugin.preferences.DevelopAssistantPreferencePage"
            name="开发助手库配置">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.ourteam.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.ourteam.plugin.UIConfigContribution"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu
               id="UIConfigMenu"
               label="界面元素配置工具"
               path="additions">
            <groupMarker
                  name="UIConfigGroupMarker">
            </groupMarker>
         </menu>
         <action
               class="com.ourteam.plugin.popup.actions.AddUIActionAction"
               id="com.ourteam.plugin.popup.actions.AddUIActionAction"
               label="新建界面动作配置"
               menubarPath="UIConfigMenu/UIConfigGroupMarker">
         </action>
      </objectContribution>
   </extension>

</plugin>
