<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.ourteam.app.ViewCategory"
            class="com.ourteam.plugin.modelbase.ModelBaseExplorer"
            icon="icons/16X16/Model/business_model.png"
            id="com.ourteam.plugin.modelbase.ModelBaseExplorer"
            name="模型库浏览"
            restorable="true">
      </view>
      <category
            id="com.ourteam.app.ViewCategory"
            name="开发助手">
      </category>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.ui.eclipse.editorpart.EditorPartAgent"
            default="false"
            id="net.ui.eclipse.editorpart.EditorPartAgent"
            name="编辑器代理">
      </editor>
      <editor
            class="net.ui.eclipse.editorpart.MultiPageEditorPartAgent"
            default="false"
            id="net.ui.eclipse.editorpart.MultiPageEditorPartAgent"
            name="多页面编辑器代理">
      </editor>
   </extension>

</plugin>
