<?xml version="1.0" encoding="UTF-8"?>

<!-- - Application context definition for JPetStore's business layer. - Contains 
	bean references to the transaction manager and to the DAOs in - dataAccessContext-local/jta.xml 
	(see web.xml's "contextConfigLocation"). -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		   http://www.springframework.org/schema/context
       	   http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- ========================= GENERAL DEFINITIONS ========================= -->

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<bean id="SpringContextAgent" class="net.service.SpringContextAgent"
		scope="singleton" />

	<bean id="dataSource" class="com.ourteam.plugin.preferences.DevelopAssistantDataSource"
		destroy-method="close" lazy-init="false">
		<property name="initialSize" value="1" />
		<property name="maxActive" value="2" />
		<property name="maxWait" value="60000" />
		<property name="poolPreparedStatements" value="true" />
	</bean>

	<context:annotation-config />

	<aop:aspectj-autoproxy />

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="velocityResourceLoader"
		class="org.apache.velocity.runtime.resource.loader.DataSourceResourceLoader">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="org.apache.velocity.app.VelocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityPropertiesMap">
			<map>
				
				<entry key="resource.loader">
					<value>ds</value>
				</entry>
				<entry key="ds.resource.loader.instance">
					<ref bean="velocityResourceLoader" />
				</entry>
				<entry key="ds.resource.loader.resource.table">
					<value>velocity_template</value>
				</entry>
				<entry key="ds.resource.loader.resource.keycolumn">
					<value>template_name</value>
				</entry>
				<entry key="ds.resource.loader.resource.templatecolumn">
					<value>template_content</value>
				</entry>
				<entry key="ds.resource.loader.resource.timestampcolumn">
					<value>template_timestamp</value>
				</entry>
				<entry key="ds.resource.loader.cache">
					<value>false</value>
				</entry>
				<entry key="velocimacro.library">
					<value>GLOB_VM</value>
				</entry>
				<entry key="output.encoding">
					<value>UTF-8</value>
				</entry>
				<entry key="input.encoding">
					<value>UTF-8</value>
				</entry>
				<entry key="directive.parse.max.depth">
					<value>100</value>
				</entry>
			</map>
		</property>
	</bean>
	
	
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
	    <property name="dataSource" ref="dataSource" />
	    <property name="transactionManager" ref="transactionManager" />
	    <property name="databaseSchemaUpdate" value="true" />
	    <property name="jobExecutorActivate" value="false" />
	    <property name="history" value="audit" />
  	</bean>
  
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
	    <property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>
  
    <bean id="org.activiti.engine.RepositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
    <bean id="org.activiti.engine.RuntimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
    <bean id="org.activiti.engine.TaskService" factory-bean="processEngine" factory-method="getTaskService" />
    <bean id="org.activiti.engine.FormService" factory-bean="processEngine" factory-method="getFormService" />
    <bean id="org.activiti.engine.HistoryService" factory-bean="processEngine" factory-method="getHistoryService" />
    <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
	<bean id="org.activiti.engine.IdentityService" factory-bean="processEngine" factory-method="getIdentityService" />
   
	<import resource="applicationContext-dao.xml" />

	<import resource="applicationContext-service.xml" />

</beans>
