<?xml version="1.0" encoding="UTF-8"?>
	<!--
		- A simple "base bones" Acegi Security configuration. - - The sample
		includes the "popular" features that people tend to use. -
		Specifically, form authentication, remember-me, and anonymous
		processing. - Other features aren't setup, as these can be added later
		by inserting - the relevant XML fragments as specified in the
		Reference Guide. - - To assist new users, the filters specified in the
		FilterChainProxy are - declared in the application context in the same
		order. Collaborators - required by those filters are placed at the end
		of the file. - - $Id: applicationContext-acegi-security.xml 1987
		2007-08-29 12:12:45Z luke_t $
	-->
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		   http://www.springframework.org/schema/context
       	   http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<aop:config>
		<aop:pointcut id="serviceOperation"
			expression="execution(* com.ourteam.*.service..*.*(..))"/>
		<aop:advisor pointcut-ref="serviceOperation" advice-ref="txAdvice"/>
	</aop:config>
			
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="query*" read-only="true"/>
			<tx:method name="*" read-only="false" rollback-for="Exception" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	
	<import resource="service/com_ourteam_system_service_bean.xml"/>
	
	<import resource="service/com_ourteam_product_service_bean.xml"/>
		
	<import resource="service/com_ourteam_modelbase_service_bean.xml"/>
	
	<import resource="service/com_ourteam_workspace_service_bean.xml"/>
	
	<import resource="service/com_ourteam_project_service_bean.xml"/>
	
	<import resource="service/com_ourteam_middleware_service_bean.xml"/>
	
	<import resource="service/com_ourteam_team_service_bean.xml"/>
	
	<import resource="service/com_ourteam_calendar_service_bean.xml"/>
	
	<import resource="service/com_ourteam_resource_service_bean.xml"/>
	
	<import resource="service/com_ourteam_business_service_bean.xml"/>
	
	<import resource="service/com_ourteam_report_service_bean.xml"/>
	
	<import resource="service/com_ourteam_bpm_service_bean.xml"/>
	
	<import resource="service/com_ourteam_hr_service_bean.xml"/>
	
</beans>